
#mapid {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}



.navbarBtn {
    top: 10px;
    left: 10px;
    position: absolute;
    z-index: 8887;
    font-size: 40px;
    cursor: pointer;
    
}

.sidenav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8888;
    width: 0;
    height: 100vh;
    background-color: blanchedalmond;
    transition: 0.5s;
    overflow: hidden;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

    .sidenav a:hover {
        color: #f1f1f1;
    }

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}




ul, #myUL {
    list-style-type: none;
}

#myUL {
    margin: 0;
    padding: 0;
}

.caret {
    cursor: pointer;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
}

    .caret::before {
        content: "\25B6";
        color: black;
        display: inline-block;
        margin-right: 6px;
    }

.caret-down::before {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */
    transform: rotate(90deg);
}

.nested {
    display: none;
}

.active {
    display: block;
}